{% extends 'base.html.twig' %}

{% block content %}
    <h1>Authors creation</h1>
    {{ form_start(form, {

        'attr': {
            'novalidate': 'novalidate',
            'method': 'post',
            'action': path('authors_new')
        }

    }) }}
    {{ form_widget(form) }}
    <input class="btn btn-default" type="submit" value="Create"/>
    {{ form_end(form) }}
    <a class="btn btn-default" role="button" href="{{ path('authors_index') }}">Back to the list</a>
{% endblock %}
